* {
  margin: 0;
  padding: 0;
}

:host {
  display: block;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #d1d0c2;
}

.chat {
  width: 70%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .chat {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
  }
}

.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}