<form [formGroup]="form" (ngSubmit)="enviar()">
    <input type="text" formControlName="username" required />
    @if(form.get("username")?.invalid && form.get("username")?.touched){
    <p>Usuario Obligatorio</p>
    }
    <input type="email" formControlName="email" required />
    @if(form.get("email")?.invalid && form.get("email")?.touched){
    <p>Email Invalido</p>
    }
    <input type="password" formControlName="password" required />
    @if(form.get("password")?.invalid && form.get("password")?.touched){
    <p>Verifique su Contraseña</p>
    }
    <button type="submit">Enviar</button>
</form>

<ul>
@for (usuario of usuarios; track usuario.email) {
<li>{{usuario.email}}</li>
}
</ul>