header {
    background: linear-gradient(180deg, rgb(91, 5, 145) 0%, rgb(159, 49, 196) 35%, #ca46ef 100%);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(238, 227, 79);
}

header h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 1px;
}

